<div class="card-block d-flex">
  <div class="rounded-circle  overflow-hidden" style="height: 80px;width: 90px">
    <app-photo *ngIf="contact.avatar; else default" [url_photo]="this.getPhoto(contact.avatar)"></app-photo>
    <ng-template #default>
      <i class="bi bi-person-circle fa-4x align-middle" style="font-size: 50px;color: dimgray"></i>
    </ng-template>
  </div>
  <div class="text-start d-flex justify-content-between align-items-center" style="width: calc(100% - 90px)">
    <div class="flex-column ms-2">
      <p class="m-0 text-center"><strong class="me-2">{{ contact.name| uppercase }}</strong></p>
      <div class="m-0 d-flex ">
        <i class="bi bi-telephone me-2 h2" ></i>
        <div class="d-flex flex-column flex-md-row">
           <span class="me-2">{{ contact.phones[0].number }}</span> <span class="d-flex" *ngIf="contact.phones[1]"><strong class="d-none d-md-block me-2">/ </strong> {{ contact.phones[1].number }}</span>
        </div>

      </div>
    </div>
    <div class="text-center">
      <span>
        <a [routerLink]="[contact.id]">
             <i class="bi bi-pencil-square" style="font-size: 19px;color: cornflowerblue"></i>
        </a>
      </span>

      <span (click)="openModal(contact)" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="bi bi-trash m-2" style="font-size: 19px;color: red"></i>
      </span>

    </div>
  </div>
</div>
