.dashboard-container {
  background: #fff;
  /*height: calc(100vh - 110px)*/
}

@media only screen and (min-width: 600px) {
  .dashboard-container-row{
    height: 100vh;
  }
}

.menu-dashboard> .list-group-item:hover{
  background: rgba(255 , 255, 255 , .4)!important;
}

.dashboard-ico{
  font-size: 25px;
  color: slategrey;
}

.login:hover{
  color: orange;
}
