<div class="input-group w-50 m-2">
  <span class="border p-2" id="basic-addon1" style="border-top-left-radius: 20px!important;border-bottom-left-radius: 20px!important;    border: 2px solid #E76036;background: #FC8767;color: white;">
    <i class="bi bi-search"></i>
  </span>
  <input
    #search
    class="form-control"
    type="text"
    style="border-top-right-radius: 20px!important;border-bottom-right-radius: 20px!important;"
    placeholder="Busca por Nome"
    autofocus
    (keyup)="debounce.next(search.value)"
    [value]="value"
  />
</div>
